<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">Customers</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-md-9"></div>
					<div class="col-md-3">
						<form method="get">
							<input type='text' name="q" placeholder="Search Member..." class="form-control" />
						</form>
					</div>
				</div><br>

				<table class="table table-striped">
					<tr><td>#</td><td>Name</td><td>Parent</td><td>Children</td><td>Level</td><td>Amount Earned</td><td>Reference</td><td>Options</td></tr>
					<% if @customers.present? %>
						<% 	cnt = 0
							@customers.each do |customer| %>
							<tr><td><%= cnt += 1 %></td>
								<td><%= customer.fullname %></td>
								<td><%= customer.parent.try(:fullname) %></td>
								<td><% customer.children.each do |child| %>
									<p><%= child.fullname %></p>
									<% end %>
								</td>
								<td><%= customer.level %></td>
								<td>Ghs<%= customer.accounts.first.fund %></td>
								<td><%= customer.reference.value %></td>
								<td>
									<%= form_tag toggle_clients_customer_url(customer), method: :post,
										style: "display:inline;",
										onsubmit: "return confirm('Are you sure you want to change customers state?')" %>
									<% if customer.is_verified %>
										<input type="submit" class="btn btn-warning btn-xs" value="Disable" />
									<% else %>
										<input type="submit" class="btn btn-success btn-xs" value="Enable" />
									<% end %> </form>| 
									<a href="#" class="btn btn-danger btn-xs">Delete</a>
								</td>
							</tr>
						<% end %>
					<% else %>
						<tr><td colspan="6"><center>No customer registered</center></td></tr>
					<% end %>
				</table>
			</div>
		</div>
	</div>
</div><!--/.row-->
